.container {
  border-radius: 10px;
  margin-top: 20px;

  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}

.heading {
  padding: 12.5px 20px;
  color: #FFF;

  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  right: 20px;
}

.icon:hover {
  cursor: pointer;
}

.text {
  margin: 12.5px 20px;  
}

/* user */
.heading-user {
  background: #12266D;
}

.border-user {
  border: 2px solid #12266D;
}

/* phar */
.heading-phar {
  background: #003300;
}

.border-phar {
  border: 2px solid #003300;
}

/* doctor */
.heading-doctor {
  background: #5F0C0C;
}

.border-doctor {
  border: 2px solid #5F0C0C;
}