.container {
  width: 127px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.button {
  
  width: 127px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.button:focus {
  cursor: pointer;
}

/* user */

.button-primary-user {
  background-color: #12266D;
}

.button-secondary-user {
  background-color: #4D6DE0;
}

/* phar */

.button-primary-phar {
  background-color: #003300;
}

.button-secondary-phar {
  background-color: #008A00;
}

/* doctor */

.button-primary-doctor {
  background-color: #5F0C0C;
}

.button-secondary-doctor {
  background-color: #E32B2B;
}