.container {
  width: 20%;
  min-width: 350px;
  height: 100vh;
  padding-top: 20px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.link {
  width: 70%;
  margin-left: 20px;
  padding-left: 20px;
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
  border-radius: 10px;

  color: #FFFFFF;
  text-decoration: none;
}

.link-user:hover {
  background: #4D6DE0;  
}

.linkActive-user {
  box-shadow: -5px 0 0 0 #4D6DE0;
}

.link-phar:hover {
  background: #008A00;  
}

.linkActive-phar {
  box-shadow: -5px 0 0 0 #008A00;
}

.link-doctor:hover {
  background: #E32B2B;  
}

.linkActive-doctor {
  box-shadow: -5px 0 0 0 #E32B2B;
}

.linkContent {
  padding-left: 5px;
}

.logout {
  padding: 0;
  border: none;
  background: none;
  justify-content: flex-end;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 30px;
}

.logout:hover {
  cursor: pointer;
}

.name-user,
.name-phar,
.name-doctor {
  padding-left: 30px;
}

.name-user:hover {
  background: #12266D;
}

.name-phar:hover {
  background: #003300;
}

.name-doctor:hover {
  background: #5F0C0C;
}

.user {
  background: #12266D;
}


.phar {
  background: #003300;
}

.doctor {
  background: #5F0C0C;
}

