.container {
  width: 20%;
  min-width: 350px;
  height: 100vh;

  background-color: #12266D;
  padding-top: 20px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.link {
  width: 70%;
  margin-left: 20px;
  padding-left: 20px;
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
  border-radius: 10px;

  color: #FFFFFF;
  text-decoration: none;
}

.link:hover {
  background: #4D6DE0;  
}

.linkActive {
  box-shadow: -5px 0 0 0 #4D6DE0;
}

.linkContent {
  padding-left: 5px;
}

.logout {
  padding: 0;
  border: none;
  background: none;
  justify-content: flex-end;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 30px;
}

.logout:hover {
  cursor: pointer;
}

.name {
  padding-left: 30px;
}

.name:hover {
  background: #12266D;
}