.container {
  display: flex;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.titleContainer {
  width: 40%;
}

.title {
  width: 100%;
  padding: 10px 20px;
  color: #FFF;
  
  border-radius: 0 0 10px 0;
}

.issue {
  font-size: 16px;
  line-height: 19px;

  margin: 5px 20px;
}

.info {
  width: 25%;

  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  width: 10%;
  display: flex;

  justify-content: center;
  align-items: center;
}

/* user */
.border-user {
  border: 4px solid #12266D;
}

.title-user {
  background: #12266D;
}

.issue-user {
  color: #12266D;
}

/* doctor */
.border-doctor {
  border: 4px solid #5F0C0C;
}

.title-doctor {
  background: #5F0C0C;
}

.issue-doctor {
  color: #5F0C0C;
}